// Importuje całą bibliotekę SCSS Angular Material, jako alias mat
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Włącza wszystkie podstawowe style Angular Material,
@include mat.core();

.container{
    @apply mx-auto max-w-screen-2xl
}

// przyciski z wypelnieniem
:root {
  @include mat.button-overrides((
    filled-container-color: #092ced,
    filled-horizontal-padding: 30px,
    filled-container-height: 46px,
    container-shape: 6px, // Lekko zaokrąglone
  ));
}

//przyciski bez wypelnienia
:root {
  @include mat.button-overrides((
    outlined-outline-color: #092ced,
    outlined-horizontal-padding: 30px,
    outlined-container-height: 50px,
    outlined-container-shape: 6px, // Zaokrąglenie rogów
  ));
}

//quntity
.mdc-notched-outline__notch{
  border-right-style: none !important;
}


//snackbar - ten toast z dolu
//error - snackbar
.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;      
  --mat-snackbar-button-color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

//success - snackbar
.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;      
  --mat-snackbar-button-color: #fff;
  --mat-snackbar-supporting-text-color: #fff;
}

.text-primary{
  color: #092ced;
  font: bold;
}