// Importuje całą bibliotekę SCSS Angular Material, jako alias mat
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// Włącza wszystkie podstawowe style Angular Material,
@include mat.core();

.container{
    @apply mx-auto max-w-screen-2xl
}

// przyciski z wypelnieniem
:root {
  @include mat.button-overrides((
    filled-container-color: #092ced,
    filled-horizontal-padding: 30px,
    filled-container-height: 56px,
    container-shape: 6px, // Lekko zaokrąglone
  ));
}

//przyciski bez wypelnienia
:root {
  @include mat.button-overrides((
    outlined-outline-color: #092ced,
    outlined-horizontal-padding: 30px,
    outlined-container-height: 50px,
    outlined-container-shape: 6px, // Zaokrąglenie rogów
  ));
}

//quntity
.mdc-notched-outline__notch{
  border-right-style: none !important;
}