<div class="flex mt-32 gap-6">
    <div class="w-3/4">
        <mat-stepper 
            (selectionChange)="onStepChange($event)"
            [linear]="true"
            #stepper 
            class="bg-white border border-gray-200 shadow-sm rounded-lg" >
            <!-- Address -->
            <mat-step label="Address" [completed]="completionStatus().address">
                <!-- Stripe prepares the entire address form itself  -->
                <div id="address-element"></div>

                <!-- Checkbox -->
                <div class="flex justify-end mt-1">
                    <mat-checkbox 
                        [checked]="saveAddress" 
                        (change)="onSaveAddressCheckboxChange($event)"
                    >
                        Save as default address
                    </mat-checkbox>
                </div>
                <!-- Buttons -->
                <div class="flex justify-between mt-6">
                    <button class="z-0" routerLink="/shop" mat-stroked-button>Continue shopping</button>
                    <button [disabled]="!completionStatus().address" class="z-0" matStepperNext mat-flat-button>Next</button>
                </div>
            </mat-step>

            <!-- Shipping -->
            <mat-step label="Shipping" [completed]="completionStatus().delivery">
                <app-checkout-delivery (deliveryComplete)="handleDeliveryChange($event)"></app-checkout-delivery>
                <!-- Buttons -->
                <div class="flex justify-between mt-6">
                    <button matStepperPrevious mat-stroked-button>Back</button>
                    <button [disabled]="!completionStatus().delivery" matStepperNext mat-flat-button>Next</button>
                </div>
            </mat-step>

            <!-- Payment -->
            <mat-step label="Payment" [completed]="completionStatus().cart">
                <!-- Form -->
                <div id="payment-element"></div>
                <!-- Buttons -->
                <div class="flex justify-between mt-6">
                    <button matStepperPrevious mat-stroked-button>Back</button>
                    <button [disabled]="!completionStatus().cart" matStepperNext mat-flat-button>Next</button>
                </div>
            </mat-step>
            
            <!-- Review -->
            <mat-step label="Confirmation">
                <app-checkout-review [confirmationToken]="confirmationtoken"></app-checkout-review>
                <!-- Buttons -->
                <div class="flex justify-between mt-6">
                    <button matStepperPrevious mat-stroked-button>Back</button>
                    <button
                        [disabled]="!confirmationtoken || loading"
                        (click)="confirmPayment(stepper)" mat-flat-button
                    >
                        @if(loading)
                        {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else{
                            <span>Pay {{cartService.totals()?.total | currency: 'PLN ' }}</span>
                        }
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </div>
    <div class="w-1/4">
        <app-order-summary></app-order-summary>
    </div>
</div>
