<!-- Show contents of cart -->
<section>
    <div class="mx-auto max-w-screen-xl">
        <div class="flex w-full items-start gap-6 mt-32">
            <!-- Product list -->
            <div class="w-full">
                @for (item of cartService.cart()?.items; track item.productId) {
                    <!-- single product in cart -->
                    <app-cart-item [item]="item"></app-cart-item>
                }
            </div>

            <!-- Summary -->
            <div class="w-1/3">
                <app-order-summary></app-order-summary>
            </div>
        </div>
    </div>
</section>
